/*header{
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-color: dimgray;
    height: 100vh;
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
}
*/
#center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100%;
  margin: 0;
}
header div.top_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header div.top_info div#cookies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
header div.top_info div#cookies div.empty {
  width: 100%;
  height: 30px;
}
header div.top_info div#cookies div.empty div.cookies_info {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: darkolivegreen;
}
header div.top_info div#cookies div.empty div.buttons {
  display: flex;
  justify-content: center;
}
.top_sentence {
  margin-top: 10px;
}
.top_sentence h1 {
  font-size: 50px;
  color: brown;
  display: flex;
  justify-content: center;
}
#first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-color: darkslategray;
  min-height: 100vh;
  max-width: 100%;
}
#first div.container-fluid div.row div.col-lg-4 {
  display: flex;
  justify-content: center;
}
#first div.container-fluid div.row div.col-lg-4 div.mybox {
  max-width: 300px;
}
#first div.container-fluid div.row div.col-lg-4 div.mybox div.frame {
  width: 350px;
  height: 233px;
}
/*#s {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-color: darkslategray;
    height: 110vh;
    max-width: 1200px;
    /*position: relative;
    display: flex;
    justify-content: center;
}*/
#second {
  margin: 0;
  background-image: url("../images/molo.jpeg");
  background-position: center;
  background-size: cover;
  background-color: burlywood;
  background-attachment: fixed;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#second .email_form div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#second .email_form div.container div.row {
  display: flex;
  justify-content: center;
}
footer {
  margin: 5px auto;
  width: 100%;
  padding: 10px 0;
  height: 56px;
  /*display: flex;
  justify-content: space-around;*/
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 30px;
}
@media only screen and (max-width: 416px) {
  header {
    margin: 0 auto;
  }
  .empty {
    width: 320px;
  }
  .cookies_info {
    width: 320px;
  }
  .top_sentence {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 30px;
  }
  #first {
    display: flex;
    justify-content: center;
    max-width: 416px;
    height: 1400px;
  }
  .photos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .frame {
    max-width: 260px;
    max-height: 173px;
    display: flex;
    justify-content: center;
  }
  .under_photo {
    width: 260px;
  }
  #photo1,
  #photo2,
  #photo3 {
    max-width: 260px;
    max-height: 173px;
  }
  #second {
    max-width: 416px;
    height: 1000px;
  }
  .info_sentence {
    font-size: 20px;
    width: 260px;
  }
  .my_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer {
    max-width: 416px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer img {
    width: 30px;
    height: 30px;
  }
}
